#ben-hat {
  width: 20vw;
}


#sponsors {
  // Hides title for sponsor image cards
  .card-title {
    display: none;
  }

  // Adds padding around sponsor images
  .card-image {
    padding: 5%;
  }

}
