<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="description" content="Blockchain Education Network">
	<meta name="author" content="Erick Pinos 2019">

	<title>{{page.title}} | Blockchain Education Network</title>

	<!-- STYLES -->
	<link type="text/css" rel="stylesheet" href="/css/materialize.min.css">
	<link type="text/css" rel="stylesheet" href="/css/main.css">

	<!-- FONTS -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet"  href="https://fonts.googleapis.com/css?family=Poppins">

	{% include analytics.html %}

</head>