---
title: Bitcoin
layout: default
---

<body>
<div id="header"></div>

<div class="container offset-container">


<a href="/playbook">Back to Playbook</a>

<div class="row">
  <div class="col s12 m8 offset-m2" style="background-color:#ffbf80">
    <div class="row section">
      <div class="col s12 m12 center-align">
        <h1><b>Bitcoin</b></h1>
      </div>
    <div class="row section description-text">
      <div class="col s12 m2 center-align offset-m1">
        <b>Level</b>
        1
      </div>
      <div class="col s12 m2 center-align">
        <b>Rewards</b>
        <img src="/assets/playbook/certificate-outline-filled.png" width="80%">
      </div>
      <div class="col s12 m2 center-align">
        <b>Link to Slides</b>
      </div>
      <div class="col s12 m2 center-align offset-m2">
        <img src="/assets/playbook/playbook-logo-black.png" width="100%">
      </div>
    </div>
    </div>
  </div>
</div>

<div class="row">

  <div class="col s12 center-align">
    <h5>BEN Presenter Slides</h5>
  </div>

    <div class="col s12 center-align">
  <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vSS5zo-JgF9EgG_K3PwsqvQMrKafZzo4Jg_TV2ZlFkjVvFBQ3OPjZmjvUtHE-l2hA04kiIHM-Hwib8n/embed?start=false&loop=false&delayms=60000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
  </div>

{% include card.html
  title ="What is Bitcoin?"
  image="what-is-bitcoin.png"
  width="100%"
  url ="https://docs.google.com/presentation/d/1ytUSF2e-PL-HiDX7vW6APZ_yquLQFNftO-s0KnJwPzc/edit?usp=sharing"
  author = "BEN Core Curriculum" %}

  <div class="col s12 center-align">
    <h5>Further Videos</h5>
  </div>



<figure>
  <a href="{{ include.url }}">
    <div class="col s12 m6">
      <div class="card white small">
        <div class="card-content center-align" style="color:#000!important">
<iframe width="560" height="315" src="https://www.youtube.com/embed/l1si5ZWLgy0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <span class="card-title">Introduction to Bitcoin</span>
          <p>Andreas Antonopoulos</p>
        </div>
      </div>
    </div>
  </a>
</figure>

<figure>
  <a href="{{ include.url }}">
    <div class="col s12 m6">
      <div class="card white small">
        <div class="card-content center-align" style="color:#000!important">
<iframe width="560" height="315" src="https://www.youtube.com/embed/ZloserjZNfM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <span class="card-title">What is Bitcoin?</span>
          <p>Jeremy Allaire @ MIT Bitcoin Club</p>
        </div>
      </div>
    </div>
  </a>
</figure>

<figure>
  <a href="{{ include.url }}">
    <div class="col s12 m6">
      <div class="card white small">
        <div class="card-content center-align" style="color:#000!important">
<iframe width="560" height="315" src="https://www.youtube.com/embed/bRtFCXkNpWI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>          <span class="card-title">What is Bitcoin? (in 2 minutes)</span>
          <p>Goodbit</p>
        </div>
      </div>
    </div>
  </a>
</figure>
<!--
{% include card.html
  title ="Mastering Bitcoin Talk"
  image="youtube.jpg"
  width="100%"
  url ="https://youtu.be/l1si5ZWLgy0"
  author = "Andreas Antonopoulos" %}

{% include card.html
  title ="What is Bitcoin"
  image="youtube.jpg"
  width="100%"
  url ="https://www.youtube.com/watch?v=ZloserjZNfM"
  author = "Jeremy Allaire @ MIT Bitcoin Club" %}

{% include card.html
  title ="What is Bitcoin?"
  image="youtube.jpg"
  width="100%"
  url ="https://youtu.be/bRtFCXkNpWI"
  author = "Goodbit" %}
-->
  <div class="col s12 center-align">
    <h5>Books</h5>
  </div>

{% include card.html
  title ="Mastering Bitcoin Book"
  image="book-outline-filled.png"
  width="100%"
  url ="https://github.com/bitcoinbook/bitcoinbook"
  author = "Andreas Antonopoulos" %}
</div>



</div>

<div id="footer"></div>

<!-- LOAD SCRIPTS -->
<script src="/js/jquery.min.js"></script>
<script src="/js/materialize.min.js"></script>
<script src="https://use.fontawesome.com/8966490cfc.js"></script>
<script src="/js/main.js"></script>
<script src="/leaderboard/leaderboard.js"></script>
</body>