<footer>
  <div class="row">
    <div class="col s12 m3 center-align">
      <img src="assets/logos/ben_hat_white.png">
      <a href="https://airtable.com/shrDmye4iS7IsoyTN" target="_blank" class="waves-effect waves-light btn btn-sleek">SIGN UP</a>
    </div>
    <div class="col s12 m6 center-align">
      <p>The Blockchain Education Network (College Cryptocurrency Network) is a 501c3 nonprofit.</p>
      <p>Get in touch to make your donation tax deductible.</p>
      <div id="mc_embed_signup">
        <h5>Subscribe to our newsletter</h5>
        <form action="//blockchainedu.us12.list-manage.com/subscribe/post?u=8d73dcc52683717daddd85f52&amp;id=2fbc4770f5" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
          <div id="mc_embed_signup_scroll">
            <div class="input-field" id="mce-EMAIL-container">
              <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" required="">
              <label for="mce-EMAIL">email address</label>
            </div>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true">
              <input type="text" name="b_8d73dcc52683717daddd85f52_2fbc4770f5" tabindex="-1" value="">
            </div>
            <div class="clear">
              <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn-sleek">
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col s12 m3 center-align">
      <img src="https://blockchain.info/qr?data=36EBEmYZZwgr6bpFJbKFAoLwRQDpuskqev&size=200">
      <a href="/donate" class="waves-effect waves-light btn btn-sleek">DONATE</a>
    </div>
  </div>
  <div class="row" id="copyright-area">
    <div class="col s12 m6 center-align">© 2017 Blockchain Education Network (BEN) All rights reserved</div>
    <div class="col s12 m6 center-align social-icons">
      <div>
        <a href="http://blockchainedu.slack.com" target="_blank"><i class="fa fa-slack"></i></a>
      </div>
      <div>
        <a href="https://angel.co/blockchainedu" target="_blank"><i class="fa fa-angellist"></i></a>
      </div>
      <div>
        <a href="https://www.facebook.com/blockchainedu" target="_blank"><i class="fa fa-facebook-square"></i></a>
      </div>
      <div>
        <a href="https://twitter.com/blockchainedu" target="_blank"><i class="fa fa-twitter"></i></a>
      </div>
      <div>
        <a href="https://www.instagram.com/blockchainedu" target="_blank"><i class="fa fa-instagram"></i></a>
      </div>
      <div>
        <a href="https://medium.com/blockchain-education-network" target="_blank"><i class="fa fa-medium"></i></a>
      </div>
    </div>
  </div>
</footer>
