<ul id="events-dropdown" class="dropdown-content">
  <li><a href="/events/chapter">CHAPTER EVENTS</a></li>
  <li><a href="/events/industry">INDUSTRY EVENTS</a></li>
</ul>

<ul id="sidenav-events-dropdown" class="dropdown-content">
  <li><a href="/events/chapter">CHAPTER EVENTS</a></li>
  <li><a href="/events/industry">INDUSTRY EVENTS</a></li>
</ul>

<ul id="about-dropdown" class="dropdown-content">
  <li><a href="/about">ABOUT</a></li>
  <li><a href="/about/team">TEAM</a></li>
  <li><a href="/about/chapters">CHAPTERS</a></li>
  <li><a href="/about/supporters">SUPPORTERS</a></li>
</ul>

<ul id="sidenav-about-dropdown" class="dropdown-content">
  <li><a href="/about">ABOUT</a></li>
  <li><a href="/about/team">TEAM</a></li>
  <li><a href="/about/supporters">SUPPORTERS</a></li>
  <li><a href="/about/chapters">CHAPTERS</a></li>
  <li><a href="/about/">CHAPTERS</a></li>
</ul>

<ul id="forms-dropdown" class="dropdown-content">
  <li><a href="/join-ben">JOIN BEN</a></li>
  <li><a href="/become-a-chapter">BECOME A CHAPTER</a></li>
  <li><a href="/submit-event">SUBMIT A BEN EVENT</a></li>
  <li><a href="/social-hype">SOCIAL HYPE FORM</a></li>
</ul>

<ul id="sidenav-forms-dropdown" class="dropdown-content">
  <li><a href="/join-ben">JOIN BEN</a></li>
  <li><a href="/become-a-chapter">BECOME A CHAPTER</a></li>
    <li><a href="/submit-event">SUBMIT A BEN EVENT</a></li>
  <li><a href="/social-hype">SOCIAL HYPE FORM</a></li>
</ul>

<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo"><img src="/assets/logos/ben_logo_white.png"></a>
      <a href="#" data-activates="mobile-nav" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/opportunities">OPPORTUNITIES</a></li>
        <li><a class="dropdown-button" href="/about" data-activates="about-dropdown">ABOUT BEN<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><a href="/donate">DONATE</a></li>
        <li><a href="/events">EVENTS</a></li>
        <li><a href="/resources">RESOURCES</a></li>
        <li><a class="dropdown-button" href="#!" data-activates="forms-dropdown">FORMS<i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
      <ul class="side-nav" id="mobile-nav">
        <li><a href="/opportunities">OPPORTUNITIES</a></li>
        <li><a  class="dropdown-button" href="/about" data-activates="sidenav-about-dropdown">ABOUT BEN<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><a href="/donate">DONATE</a></li>
        <li><a href="/events">EVENTS</a></li>
        <li><a href="/resources">RESOURCES</a></li>
        <li><a class="dropdown-button" href="#!" data-activates="sidenav-forms-dropdown">FORMS<i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
    </div>
  </nav>

  <script>
    $(".dropdown-button").dropdown();
    $(".button-collapse").sideNav();
  </script>
</div>
