body {
  font-family: 'Poppins', sans-serif;
  color: white;
  background-color: black;
}

/* Misc */
.center-block {
  float: none !important;
  display: block;
  margin: 0 auto !important;
}

.hidden {
  display: none;
}

/* Buttons */
.btn-sleek {
  color: white;
  background: rgba(0,0,0,0.5);
  border-radius: 1px;
  border: 1px solid white;
  padding: 0.2rem 2rem;
  height: auto;
  font-size: 12px;
  font-weight: 600;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

.btn-sleek:hover {
  color: black;
  background: white;
}

/* Container */
div.home-container {
  width: 100%;
  max-width: none;
}

div.offset-container {
  margin-top: 64px;
}


/* Banner */
#banner {
  height: 100vh;
  margin: 0;
}

#banner > div.center-align {
  width: 100%;
}

/* Background Video */
#bg-video {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#bg-video > div.bg-cover {
  background-color: #141618;
  opacity: 0.8;
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
}

#bg-video > div.bg-video-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#bg-video > div.bg-video-container > video {
  min-width: 100%;
  min-height: 100vh;
}

.banner-text {
  z-index: 2;
}


/* Custom CSS */
.card.small {
    height: 400px;
}

.card.large .card-image, .card.medium .card-image, .card.small .card-image {
    max-height: 80%;
    overflow: hidden;
}

.card .card-image .card-title {
  text-shadow: 2px 2px 2px black;
}

.brand-logo>img {
    max-width: 100%;
}

.media-images img {
    -webkit-filter: grayscale(100%) opacity(70%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%) opacity(70%);
}

nav {
 background: transparent!important; 
 box-shadow: 0 0px 0px 0 rgba(0,0,0,0), 0 0px 0px 0 rgba(0,0,0,0), 0 0px 0px 0px rgba(0,0,0,0);
}

nav a {
    color: #000!important;
}

nav ul a {
    color: #000!important;  
}

div.navbar-fixed {
  position:relative!important;
}

.navbar-fixed nav {
  position: relative;
}

#banner {
    height: 650px!important;
    margin: 0;
}

@media only screen and (max-width:1300px) {
  #banner {
    height: 400px!important;
  }
}

@media only screen and (max-width:1100px) {
  .banner-text h1 {
    font-size: 4rem!important;
  }
  #banner {
    height: 200px!important;
  }
}

@media only screen and (max-width:740px) {
  .banner-text h1 {
    font-size: 2rem!important;
  }
  #banner {
    height: 150px!important;
  }
}

#bg-video>div.bg-video-container {
    height: 750px!important;
}

.home-card {
  padding-top: 20%;
  padding-bottom: 25%;
}

.card-content {
  color: #fff!important;
}

.row .section {
  margin-bottom: 0px;
}

#footer {
  background-color:#000;
  color: #fff;
}

.side-nav li>a {
    color: #fff!important;
}

body {
    background-color: #fff;
    color: #000;
}