<!DOCTYPE html>
<html lang="en">

{% include head.html %}
{% include header.html %}

<body>

<div class="container offset-container">

<h2 class="center-align">{{ page.title }}</h2>
<div class="center-align"><img src="{{ page.image }}" style="width:150px">
</div>

{{ content }}

<div class="center-align"><a href="https://airtable.com/shrAdqtMZx9een9Gl?prefill_Activity=How+to+Build+a+Private+Network+on+Algorand" class="center-align"><button class="btn-sleek center-align">Complete Activity</button></a></div>

</div>

{% include footer.html %}
</body>

<!-- LOAD SCRIPTS -->
<script src="/js/jquery.min.js"></script>
<script src="/js/materialize.min.js"></script>
<script src="https://use.fontawesome.com/8966490cfc.js"></script>
<script src="/js/main.js"></script>
</html>